.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: radial-gradient(white, blue, black);
  height: 100vh;
}
.heading {
  color: white;
  height: 30px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: large;
}

.searchInput {
  height: 20px;
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
}
.option-style {
  height: 25px;
  width: 45px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
}
.number-input-style {
  height: 20px;
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
}
.button-style {
  height: 20px;
  width: 25px;
  margin-top: 25px;
  border-radius: 7px;
}
.button-style1 {
  width: 40px;
}
p {
  color: red;
}
